# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio files
.vs/
*.csproj
*.sln
*.user
*.pidb
*.mdb
*.opendb
*.VC.db

# Rider
.idea/

# Gradle
.gradle/

# Builds
Build/
Builds/

# Backup
*.bak

# Crash logs
sysinfo.txt
